.page_wrap{
	position: relative;

	&.shadow{
		background: rgba($c1, 0.8);
		width: 100%;
		height: 100%;
		position: relative;
		z-index: 4;
		pointer-events: none;
	}
	.preloader{
		display: block;
		position: fixed;
		left: 0;
		top: 0;
		width: 100vw;
		height: 100vh;
		z-index: 2;
		background-color: $c4;

		.loader{
			width: 75px;
			height: 75px;
			position: absolute;
			@include border-rad(5px, solid, $c3, 50%);
			border-top-color: $c1;
			border-bottom-color: $c2;
			top: 50%;
			left: 50%;
			margin: -37px 0 0 -37px;
			animation: 2s spin infinite linear;
		}
		.loader_perc{
			position: absolute;
			top: 50%;
			left: 50%;
			width: 75px;
			margin: -12px 0 0 -37px;
			text-align: center;
			color: $c3;
			font-size: rem(24px);
		}
		&.done{
			display: none;
		}
		@keyframes spin{
			from{
				opacity: 1;
				transform: rotate(0deg);
			}
			to{
				opacity: 0;
				transform: rotate(360deg);
			}
		}
	}
	.custom_header_wrap{
		height: 100vh;
		position: relative;
		// @media only screen and (max-width: 992px){
		// 	background: rgba($c1, 0.9);
		// 	position: fixed;
		// 	width: 100%;
		// 	z-index: 1;
		// }
		.custom_header{
			position: fixed;
			overflow: hidden;
			background-color: $c4;
			background-size: cover;
			width: 100%;
			height: 100vh;
			top: 0;
			left: 0;
			max-height: 100%;

			.slider{
				position: relative;
				height: 100%;
				width: 100%;
				
				img{
					height: 100%;
					width: 100%;
					position: absolute;
					object-fit: cover;
					display: none;

					&:first-child{
						display: block;
					}
				}
			}
		}
		.logo_wrap{
			position: absolute;
			z-index: 1;
			border-radius: 50%;
			top: 10%;
			left: 50%;
			margin-left: -75px;

			.logo{
				height: rem(150px);
				position: absolute;
				width: rem(150px);
				border-radius: 50%;		
				transition: 3000ms;

				&.front{
					z-index: 2;
					background-image: url('../img/Logo_KM.svg');
					backface-visibility: hidden;
					-webkit-backface-visibility: hidden;
				}
				&.back{
					z-index: 1;
					background-color: rgba($c2, 0.2);
					@include border(4px, solid, $c1);				}
			}
			a{
				display: inline-block;
				height: 100%;
				width: 100%;
			}
			&:hover{
				
				.logo{
					transform: rotateY(360deg);
				}
			}
		}
		.slider_buttons{
			position: absolute;
			width: 100%;
			top: 50%;
			margin-top: rem(-40px);
			z-index: 1;
			@include flex(row, nowrap, space-between, center);

			%slider-arrow{
				display: inline-block;
				vertical-align: middle;
				z-index: 1;
				height: rem(40px);
				width: rem(40px);
				border-radius: 50%;
				color: $c4;
				border: none;
				background-color: transparent;
				cursor: pointer;
				opacity: 0.3;
				transition: 300ms;
				
				span{
					font-size: rem(40px);
					line-height: rem(22px);
					position: relative;
					top: 1px;
					display: inline-block;
				}
				&:hover{
					color: $c3;
					opacity: 1;
					box-shadow: 0 0 0 20px rgba($c4, 0.2), inset 0 0 0 20px rgba($c4, 0.2), 0 0 0 8px rgba($c4, 0.2), inset 0 0 0 20px rgba($c4, 0.2);
				}
			}
			#prev{
				@extend %slider-arrow;
				margin-left: 13%;
			}
			#next{
				@extend %slider-arrow;
				margin-right: 13%;
			}
		}
		.go_to_content{
			position: absolute;
			left: 0;
			right: 0;
			bottom: 25vh;

			.arrow{
				display: block;
				margin-left: auto;
				margin-right: 70px;
				padding: 20px;
				position: relative;
				border-radius: 50%;
				transition: 300ms;

				%arrow-part{
					position: absolute;
					display: inline-block;
					height: rem(14px);
					width: rem(4px);
					background-color: $c3;
					bottom: 0;
					transition: 500ms;
				}
				span{
					@extend %arrow-part;
					width: 4px;
					height: 24px;
					top: 50%;
					left: 48%;
					margin-top: -9px;

					
					&:before{
						content: '';
						@extend %arrow-part;
						transform: rotate(-45deg) translate(-5px);
					}
					&:after{
						content: '';
						@extend %arrow-part;
						transform: rotate(45deg) translate(5px);
					}
				}
				&:hover{
					box-shadow: 0 0 0 20px rgba($c3, 0.2), inset 0 0 0 20px rgba($c3, 0.2), 0 0 0 8px rgba($c3, 0.2), inset 0 0 0 20px rgba($c3, 0.2);
					
					span{
						background-color: $c4;

						&:before{
							background-color: $c4;
						}
						&:after{
							background-color: $c4;
						}
					}				
				}
			}
		}
		.header_wrap{
			position: absolute;
			bottom: 0;
			right: 0;
			left: 0;
			background: -webkit-linear-gradient(to bottom, rgba($c3, 0) 0%, rgba($c2, 0.3) 75%, rgba($c1, 0.9) 100%);
		    background: -o-linear-gradient(to bottom, rgba($c3, 0) 0%, rgba($c2, 0.3) 75%, rgba($c1, 0.9) 100%);
		    background: linear-gradient(to bottom, rgba($c3, 0) 0%, rgba($c2, 0.3) 75%, rgba($c1, 0.9) 100%);
			@media only screen and (max-width: 992px){
				top: 0;
				bottom: auto;
				min-height: rem(60px);
			}
			.nav{
				@include flex(row, wrap, space-between, center);
				min-height: rem(80px);
				@media only screen and (max-width: 992px){
					justify-content: flex-start;
					min-height: rem(60px);
				}
					.toggle-container{
						display: none;
						@media only screen and (max-width: 992px){
							display: flex;
						}
						%toggle_before_after{
							content: '';
							position: absolute;
							display: inline-block;
							top: 50%;
							left: 0;
							width: 100%;
							height: 2px;
							background-color: #fff;
							border-radius: 5px;
							transition: 500ms;
						}
						.button-toggle{
							position: absolute;
							display: inline-block;
							top: 0;
							width: rem(20px);
							height: rem(20px);
							margin: 0;
							margin-top: rem(20px);
							background-color: transparent;
							border: none;
							cursor: pointer;
							border-radius: 100%;
							transition: 600ms;

							&:hover{
								box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1);
							}
							&:before{
								@extend %toggle_before_after;
								transform: translateY(-50%) rotate(45deg) scale(0);
							}
							&:after{
								@extend %toggle_before_after;
								transform: translateY(-50%) rotate(-45deg) scale(0);
							}
						}
					}
					#toggle{
						position: absolute;
						left: -100%;
						top: -100%;

					  	&:focus{

						  	& ~ .toggle-container .button-toggle{
								box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1);
						  	}
					  	}
					  	&:checked{

					  		& ~ .toggle-container .button-toggle{
					  			box-shadow: 0 0 0 992px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1);
					  		
						  		&:hover{
								  	box-shadow: 0 0 0 992px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1), 0 0 0 8px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1);
								}
								&:before{
								  	transform: translateY(-50%) rotate(45deg) scale(1);
								}
								&:after{
								  	transform: translateY(-50%) rotate(-45deg) scale(1);
								}
					  		}
					  		&:focus{

					  			& ~ .toggle-container .button-toggle{
							  		box-shadow: 0 0 0 992px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1), 0 0 0 8px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1);
								}
							}
							& ~ .main_menu{
								margin-bottom: rem(50px);
								pointer-events: auto;
								transform: translate(50%, 40px);
								@include flex(column, wrap, flex-start, flex-start);

								a{
									height: rem(40px);
									color: $c4;
								  	letter-spacing: 0;
								  	line-height: rem(40px);
								  	padding: 0;
								  	margin-top: 0;
								  	opacity: 1;
								  	transform: scaleY(1);
								  	transition: 500ms, opacity 100ms;

								  	&:before{
							  			opacity: 0;
									}
									&:nth-child(1){
								  		transition-delay: 150ms;

								  		&:before{
								  			transition-delay: 150ms;
								  		}
								  	}
								  	&:nth-child(2){
								  		transition-delay: 100ms;

								  		&:before{
								  			transition-delay: 100ms;
								  		}
								  	}
								  	&:nth-child(3){
								  		transition-delay: 75ms;

								  		&:before{
								  			transition-delay: 75ms;
								  		}
								  	}
								  	&:nth-child(4){
								  		transition-delay: 50ms;

								  		&:before{
								  			transition-delay: 50ms;
								  		}
								  	}
								  	&:nth-child(5){
								  		transition-delay: 25ms;

								  		&:before{
								  			transition-delay: 25ms;
								  		}
								  	}
								  	&:nth-child(6){
								  		transition-delay: 0;

								  		&:before{
								  			transition-delay: 0;
								  		}
								  	}
								}
							}
						}
					}
				.main_menu{
					@include flex(row, wrap, flex-start, center);
						
					a{
						@include font(rem(16px), $c4);
						line-height: rem(26px);
						white-space: nowrap;
						text-transform: uppercase;
						padding: 0 rem(10px);
						text-align: center;
						
						&:first-child{
							padding-left: 0;
						}
						&:hover{
							color: $c3;
							transition: 200ms;
						}
						&.current_page{
							text-decoration: overline;
							text-decoration-color: $c3;
							color: $c3;
							font-weight: bolder;
						}
					}
					@media only screen and (max-width: 992px){
						overflow: hidden;
						margin: 20px 0 0;
					    pointer-events: none;
					    transition: 500ms;
						@include flex(column, wrap, flex-start, flex-start);
							
						a{
							position: relative;
							display: inline-block;
							clear: both;
							color: transparent;
							height: rem(7px);
							font-size: rem(14px);
							letter-spacing: rem(-9px);
							line-height: rem(7px);
							transform: scaleY(0.2);
							transition: 500ms, opacity 100ms;
							
							&:first-child{
								padding-left: rem(10px);
								margin-left: 0;
							}
							&:hover{
								color: $c3;
								transition: 200ms;
							}
							&:before{
								position: absolute;
							    content: '';
							    top: 50%;
							    left: 0;
							    width: 100%;
							    height: rem(2px);
							    background-color: #fff;
							    transform: translateY(-50%) scaleY(5);
							    transition: 500ms;
							}
							&:nth-child(1){
						  		transition-delay: 0;

						  		&:before{
						  			transition-delay: 0;
						  		}
						  	}
							&:nth-child(2){
						  		transition-delay: 25ms;

						  		&:before{
						  			transition-delay: 25ms;
						  		}
						  	}
						  	&:nth-child(3){
						  		transition-delay: 50ms;

						  		&:before{
						  			transition-delay: 50ms;
						  		}
						  	}
						  	&:nth-child(4){
						  		transition-delay: 75ms;

						  		&:before{
						  			transition-delay: 75ms;
						  		}
						  	}
						  	&:nth-child(5){
						  		transition-delay: 100ms;

						  		&:before{
						  			transition-delay: 100ms;
						  		}
						  	}
						  	&:nth-child(6){
						  		transition-delay: 150ms;

						  		&:before{
						  			transition-delay: 150ms;
						  		}
						  	}
						  	&:nth-child(n + 4){
						  		letter-spacing: -8px;
							    opacity: 0;
							}	
						}
					}
				}
				.social_links{
					@include flex(row, nowrap, flex-start, center);
					@media only screen and (max-width: 992px){
						position: absolute;
						top: 0;
						right: 0;
						margin: rem(15px 20px 15px);
					}
					li{
						margin-left: rem(5px);

						a{
							display: block;
							height: rem(32px);
							width: rem(32px);
							border-radius: 50%;
							background-repeat: no-repeat;
							background-size: cover;
							
							svg{
								width: 100%;
								height: 100%;								
								fill: $c4;
								opacity: 0.8;

								&:hover{
									fill: $c3;
								}
							}
						}
					}
				}
			}
		}
		.header_wrap_fixed{
			bottom: auto;
		    position: fixed;
		    top: 0;
		    z-index: 2;
		    background: rgba($c2, 0.9);
		}
	}

	main{
		padding: rem(60px) 0 rem(100px) 0;
		position: relative;
		background-color: $c4;

		.aboutme_wrap{
			@include flex(row, wrap, space-between, flex-start);

			.aboutme_desc{
				@include flex(column, nowrap, space-between, flex-start);
				padding: 0;
				
				h1{
					@include font(rem(42px), $c2);
					font-weight: bold;
					margin-bottom: 20px;
				}
				p{
					@include font(rem(19px), $c3);
					line-height: rem(19px);
					margin-bottom: rem(20px);
				}
				a{
					display: block;
					height: rem(42px);
					width: rem(140px);
					@include font(rem(19px), $c2);
					line-height: rem(34px);
					@include border(rem(4px), solid, $c3);
					text-align: center;
					margin-bottom: rem(30px);

					&:hover{
						background: $c3; 
					}
				}
			}
			.aboutme_photo{
				height: rem(300px);
				width: rem(300px);
				border-radius: 50%;
				@include border(rem(4px), solid, $c1);
				overflow: hidden;

				img{
					height: rem(300px);
					width: rem(300px);
				}
			}
		}

		.advantages_wrap{
			@include flex(column, nowrap, space-between, center);
			margin-top: rem(30px);
			
			.advantages{
				@include flex(row, wrap, space-between, stretch);
				
				.advantage{
					min-height: rem(140px);
					width: 49%;
					background-color: #f9f9f9;
					margin-bottom: rem(20px);
					box-shadow: rem(7px 7px 10px rgba(0, 0, 0, 0.55));
					padding: rem(10px 10px 20px 30px);
					@include flex(column, nowrap, flex-start, flex-start);
					@media only screen and (max-width: 992px){
						width: 100%;
					}
					p{
						width: 100%;
						line-height: rem(19px);
						@include font(rem(16px), $c3);
					}
					.advantage_title{
						@include flex(row, nowrap, space-between, center);
						margin-bottom: rem(5px);

						h4{
							height: rem(50px);
							line-height: rem(53px);
							@include font(rem(26px), $c2);
							font-weight: bold;
							display: inline-block;
							margin-left: rem(20px);
						}
						span{
							height: rem(40px);
							width: rem(40px);
							background-repeat: no-repeat;
							background-size: cover;
							background-image: url('../img/advantage_icons.svg');
						}
					}

					&:first-child span{
						background-position: 0 0;
					}
					&:nth-child(2) span{
						background-position: rem(-120px 0);
					}
					&:nth-child(3) span{
						background-position: rem(-80px 0);
					}
					&:last-child span{
						background-position: rem(-40px 0);
					}

				}
			}
			h2{
				@include font(rem(35px), $c3);
				margin-bottom: rem(20px);
				text-transform: uppercase;
				line-height: rem(50px);

				span{
					font-size: rem(80px);
					margin-right: rem(10px);
					color: $c2;
				}
			}
		}
		.carousel_wrap{
			
			.carousel{
				height: 200px;
				margin: 50px auto;
				position: relative;
				@include flex(row, nowrap, center, center);
				perspective: 2000px;
				
				.carousel_content{
					width: 100%;
					position: absolute;
					top: 0;	
					transform-style: preserve-3d;
					animation: rotate 16s infinite linear;

					&:hover{
						animation-play-state: paused;
					}
					figure{
						position: absolute;
						width: rem(280px);
						height: rem(180px);
						overflow: hidden;
						transition: 300ms;
	
						img{
							width: 100%;
							height: 100%;
						}
						&:first-child{
							transform: rotateY(72deg) translateZ(rem(250px));

							&:hover{
								transform: rotateY(72deg) translateZ(rem(250px)) scale(1.2);
							}
						}
						&:nth-child(2){
							transform: rotateY(144deg) translateZ(rem(250px));

							&:hover{
								transform: rotateY(144deg) translateZ(rem(250px)) scale(1.2);
							}
						}
						&:nth-child(3){
							transform: rotateY(216deg) translateZ(rem(250px));

							&:hover{
								transform: rotateY(216deg) translateZ(rem(250px)) scale(1.2);
							}
						}
						&:nth-child(4){
							transform: rotateY(288deg) translateZ(rem(250px));
							&:hover{
								transform: rotateY(288deg) translateZ(rem(250px)) scale(1.2);
							}
						}
						&:nth-child(5){
							transform: rotateY(360deg) translateZ(rem(250px));
							&:hover{
								transform: rotateY(360deg) translateZ(rem(250px)) scale(1.2);
							}
						}
					}
				}
			}
			@keyframes rotate{
				from{
					transform: rotateY(0deg);
				}
				to{
					transform: rotateY(360deg);
				}
			}
		}

	}
	footer{
		min-height: rem(80px);
		border-top: rem(4px) solid $c1;
		border-bottom: rem(4px) solid $c1;
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		
		padding-top: rem(28px);
		@media only screen and (max-width: 670px){
			padding-top: rem(19px);
		}	
		.footer_wrap{
			
			p{
				@include font(rem(16px), $c1);
				text-align: center;
			}
		}
	}
}
#carousel_pop_up{
	.pop_up{
		width: rem(900px);
	    height: rem(500px);
	    background: $c4;
	    position: fixed;
	    top: 50%;
	   	left: 50%;
	   	margin-top: rem(-210px);
	   	margin-left: rem(-450px);
	    border-radius: 5px;
	    z-index: 5;
	    display: none;

		&.open_pop_up{
			display: block;
		}
		&.close_pop_up{
			display: none;
		}
		%close_icon_pop_up{
			content: '';
			height: 30px;
			width: 4px;
			background-color: $c2;
			position: absolute;
			top: 50%;
			left: 50%;
			margin-left: -2px;
			margin-top: -15px;
		}
		#close_pop_up{
			cursor: pointer;
			height: 40px;
			width: 40px;
			background: none;
			border: none;
			border-radius: 50%;
			position: absolute;
			right: 0;
			margin-right: -40px;
			top: -40px;
			transition: 300ms;
			
			&:hover{
				box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1);
			}
			&:before{
				@extend %close_icon_pop_up;
				transform: rotate(45deg);
			}
			&:after{
				@extend %close_icon_pop_up;
				transform: rotate(-45deg);
			}
		}
		%slide_block{
			position: absolute;
			top: 0;
			bottom: 0;
			width: 49%;
			background-color: $c2;
		}
		.slide_image{
			@extend %slide_block;
			left: 0;

			img{
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	    .slide_text{
			@extend %slide_block;
			right: 0;

			.slide_title{
				font-size: rem(40px);
				text-align: center;
				margin: 10px 0;
			}
			.slide_desc{
				margin: 0 20px 20px;
			}
	    }
	}
}